.row2{
 height: 130px;
  top:10px;
  right: 150px;
  text-align: center;
  background-color: rgb(231, 189, 97);

}
.row2 h2{
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: brown;
  color: beige;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input{
  outline: 0;
  border: 0;
  width: 350px;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: bold;
}
.search button{
  outline: none;
  border: none;
  height: 35px;
  padding: 0 0.5rem;
}

.container{
  width: 65%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
  grid-gap:20px;
  box-sizing: border-box;
}
.card:hover{
  transform: scale(1.1);
  background-color: rgba(255,255,255,0.8);
}